{% extends "base.html" %}
{% block title %}Calcualtor{% endblock %}
{% block content %}

<h3 align="center">The Amazing Lumber Calculator</h3>
<p>As a DIY lumber entheusiast, I often wanted to try to build small projects
    from lumber to save money.  However, I would often get confused regarding
    the best sizes of lumber to buy for my projects. 
    I would often buy too much, resulting in WASTE 
    <br>
    <br>
    Now, I've realized my dream of building a working calcualtor - try it out, 
    I think you'll be pleasently surprised.
    <br>
    -Mike



</p>
{% endblock %}