{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h2 align="center">About</h2>
    <p>I’ve done a few DIY carpentry projects – a fence, a deck, a planting box and a balance beam that was really just a board laying in the grass.</p>
    <p>Each time two things happened:</p>
    <ol>
        <li>I tried to figure out how much lumber I should buy</li>
        <li>I would be wrong</li>
    </ol>
    <p>Thus, the Amazing Lumber Calculator was born.</p>
    <p>It uses a linear solving algorithm to figure out what sizes of dimensional lumber you should buy, and how to cut them up to minimize waste on your project.</p>
    <p>It will generate a table and an image of the optimal cut diagram for you</p>
    <p>Watch your fingers around the saw.</p>
    <p>-Mike</p>
{% endblock %}