{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h2 align="center">About</h2>
    <p>The Amazing Lumber Calculator exists to forever change the way we visit Home Depot.</p>
    <p>I’ve done a few DIY carpentry projects – a fence, a deck, a planting box and a balance beam that was really just a board laying in the grass.</p>
    <p>Each and every time two things happened:</p>
    <ol>
        <li>I figured out how much lumber I needed to buy.</li>
        <li>I was wrong.</li>
    </ol>
    <p>I hated being wrong.  It tore me up inside.  I knew that there had to be a better way!</p>
    <p>Thus, the Amazing Lumber Calculator was born.</p>
    <p>It uses a linear solving algorithm to figure out what sizes of dimensional lumber you should buy, and how to cut them up to minimize waste on your project.</p>
    <p>It will generate an image of the optimal cut diagram for you, and if you want, you can even save it for free!</p>
    <p>One word of warning:</p>
    <p>From experience, I can tell you that the Amazing Lumber Calculator cannot fix our cuts when we measure them wrong… My dad actually made up a saying: “measure twice, cut once.”  We’d all do well to remember those wise words.</p>
    <p>Also, watch your fingers around the saw.</p>
    <p>-Mike</p>
{% endblock %}