{% extends "base.html" %}
{% block title %}Calcualtor{% endblock %}
{% block content %}
{{text}}
{% if table == "" %}
<h2 align="center">The Amazing Lumber Calculator</h2>

<div id="calculatorContainer">
<form method="POST" onsubmit="return calcLoading()">
   
  
    <!--<p>Select unit of measurement for your dimensional lumber:  </p>-->
    <p>Enter lengths in feet  (different units currently unavailable): </p>
    <div class="form-check form-check-inline">
      
        <input class="form-check-input" type="radio" name="unit_input" id="inlineRadio1" value="ft" checked disabled>
        <label class="form-check-label" for="inlineRadio1">ft</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="unit_input" id="inlineRadio2" value="in" disabled>
        <label class="form-check-label" for="inlineRadio2">in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="unit_input" id="inlineRadio3" value="cm" disabled>
        <label class="form-check-label" for="inlineRadio3">cm</label>
      </div>
      <br>
      <br>
      <p>Enter an available lumber size</p>
        <input type="text" name="raw_lumber_length_1" id="raw_lumber_length_1" placeholder=" required" style = "width: 10%;"/>
    </div>
    <div class="form-group">
        <br>
        <p>Enter a second lumber size if available</p>
        <input type="text" name="raw_lumber_length_2" id="raw_lumber_length_2" placeholder=" optional" style = "width: 10%;"/>
    </div>
    <div class="form-group">
        <br>
        <p>Enter a third lumber size if available</p>
        <input type="text" name="raw_lumber_length_3" id="raw_lumber_length_3" placeholder=" optional" style = "width: 10%;"/>
    </div>

    <br>
    <!--<p>Select unit of measurement for your CUT pieces:  </p>-->
    <p>Enter lengths in inches (different units currently unavailable):  </p>

    <div class="form-check form-check-inline">
      
      <input class="form-check-input" type="radio" name="cut_unit_input" id="inlineRadio4" value="ft"  disabled> 
      <label class="form-check-label" for="inlineRadio4">ft</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="cut_unit_input" id="inlineRadio5" value="in" checked disabled>
      <label class="form-check-label" for="inlineRadio5">in</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="cut_unit_input" id="inlineRadio6" value="cm" disabled>
      <label class="form-check-label" for="inlineRadio6">cm</label>
    </div>
    <div class="form-group">
        <br>
        <p>Enter the size of each cut piece required:</p>
        <input type="text" name="piece_list" id="piece_list" placeholder=" use commas or spaces to seperate values" style = "width: 70%;"/>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>    
</form>
</div>

<script>


function calcLoading(){

    console.log('myFunction was called');
    var img = document.createElement("img");
    var imgCalc = document.createElement('img')

    img.src= "{{ url_for('static', filename='Calculator.gif') }}"; 
    img.alt="Please Wait... Calculating..."; 
    


    img.style.width = "150px";
    img.style.height = "200px";

    // Create a container for the image
    var container = document.createElement("div");

    // Set the CSS properties to center the image
    img.style.position = "absolute";
    img.style.top = "0";
    img.style.left = "50%";
    img.style.transform = "translate(-50%, 150%)";

    // Add the image to the container
    var container = document.getElementById("calculatorContainer");



    container.insertBefore(img, container.firstChild);
    return true; // prevent form submission


}
</script>


{% else %}
<p>Happy cutting!</p>
<img src="{{ url_for('static', filename='visual.png') }}" alt="My Plot"> 
<br>
{{table|safe}}
<br />
{{text2}}
<br />
{{text3}}
<br />
<br />
<a href="" class="btn btn-info">Reset</a> 
{% endif %}
{% endblock %}