<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumber Cut Calculator</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />


</head>
<body>
    <h1>Lumber Cut Calculator</h1>
    <form action = "/board-cutter">
        <input type = "text" name = "raw lumber length 1" id = "size_1" placeholder="Enter the length of the first piece of raw lumber" />
        button type = "submit" value = "Submit" />
    </form>
</body>
</html>